@import 'tailwindcss';

/*
   Usage guide:

   Setting colors:
      text-(color) - text color
      bg-(color) - background color
      border-(color) - border color
      shadow-(color) - shadow color

      Custom palette:
         neutral-(100-900)
         primary-(100-900)
         accent-green-(100-900)
         accent-red-(100-900)
         accent-yellow-(100-900)

   Typography:
      text-(100-900) - font size
      weight-(100-900) - font weight
      font-(display|body|mono|somethingElse) - font family
      leading(none|tight|snug|normal|relaxed|loose) - line height
      tracking-(tighter|tight|normal|wide|wider|widest) - letter spacing
      text-(left|center|right|justify) - text align
      hyphens-(none|manual|auto) - hyphens
      line-clamp-(number) - truncate text

   Custom scale:
      w/h/m/p-(0-16)
      t/r/b/l-(0-16)
      & more-(0-16)

   Other common utilities:
      (block|hidden|flex|grid|&more) - display
      (static|fixed|absolute|relative|sticky) - positioning
      border-(2-8)|(dashed|full) - border width and style
      rounded-(xs-4xl|full)- border-radius
*/

@theme {
   --color-neutral-100: hsl(220, 18%, 98%);
   --color-neutral-200: hsl(220, 16%, 95%);
   --color-neutral-300: hsl(220, 14%, 92%);
   --color-neutral-400: hsl(220, 12%, 84%);
   --color-neutral-500: hsl(220, 10%, 71%);
   --color-neutral-600: hsl(220, 12%, 56%);
   --color-neutral-700: hsl(220, 14%, 32%);
   --color-neutral-800: hsl(220, 16%, 23%);
   --color-neutral-900: hsl(220, 18%, 15%);

   --color-primary-100: hsl(270, 100%, 80%);
   --color-primary-200: hsl(270, 90%, 72%);
   --color-primary-300: hsl(270, 80%, 58%);
   --color-primary-400: hsl(270, 60%, 43%);
   --color-primary-500: hsl(270, 55%, 35%);
   --color-primary-600: hsl(270, 60%, 30%);
   --color-primary-700: hsl(270, 80%, 23%);
   --color-primary-800: hsl(270, 90%, 15%);
   --color-primary-900: hsl(270, 100%, 10%);

   --color-accent-green-100: hsl(135, 70%, 70%);
   --color-accent-green-300: hsl(135, 65%, 56%);
   --color-accent-green-500: hsl(135, 60%, 39%);
   --color-accent-green-700: hsl(135, 65%, 34%);
   --color-accent-green-900: hsl(135, 70%, 28%);

   --color-accent-red-100: hsl(355, 85%, 40%);
   --color-accent-red-300: hsl(355, 83%, 35%);
   --color-accent-red-500: hsl(355, 80%, 30%);
   --color-accent-red-700: hsl(355, 85%, 25%);
   --color-accent-red-900: hsl(355, 90%, 20%);

   --color-accent-yellow-100: hsl(50, 90%, 70%);
   --color-accent-yellow-300: hsl(50, 85%, 60%);
   --color-accent-yellow-500: hsl(50, 80%, 50%);
   --color-accent-yellow-700: hsl(48, 85%, 45%);
   --color-accent-yellow-900: hsl(48, 90%, 40%);

   --text-100: 0.875rem;
   --text-200: 1rem;
   --text-300: 1.125rem;
   --text-400: 1.25rem;
   --text-500: 1.5rem;
   --text-600: 1.875rem;
   --text-700: 2.25rem;
   --text-800: 3rem;
   --text-900: 3.75rem;

   --weight-100: 100;
   --weight-200: 200;
   --weight-300: 300;
   --weight-400: 400;
   --weight-500: 500;
   --weight-600: 600;
   --weight-700: 700;
   --weight-800: 800;
   --weight-900: 900;

   --font-display: var(--font-titillium-web);
   --font-body: var(--font-poppins);

   --spacing-0: 0;
   --spacing-1: 0.25rem;
   --spacing-2: 0.5rem;
   --spacing-3: 0.75rem;
   --spacing-4: 1rem;
   --spacing-5: 1.5rem;
   --spacing-6: 2rem;
   --spacing-7: 3rem;
   --spacing-8: 4rem;
   --spacing-9: 6rem;
   --spacing-10: 8rem;
   --spacing-11: 12rem;
   --spacing-12: 16rem;
   --spacing-13: 24rem;
   --spacing-14: 32rem;
   --spacing-15: 40rem;
   --spacing-16: 48rem;
}

@utility weight-* {
   font-weight: --value(--weight- *);
}

@utility raised-100 {
   box-shadow: 0 -2px 0 var(--tw-shadow-color), 0 1px 1px hsla(0, 0%, 0%, 0.5);
}

@utility raised-300 {
   box-shadow: 0 -3px 0 var(--tw-shadow-color), 0 2px 2px hsla(0, 0%, 0%, 0.5);
}

@utility raised-500 {
   box-shadow: 0 -4px 0 var(--tw-shadow-color), 0 3px 3px hsla(0, 0%, 0%, 0.5);
}

@utility raised-700 {
   box-shadow: 0 -5px 0 var(--tw-shadow-color), 0 4px 4px hsla(0, 0%, 0%, 0.5);
}

@utility raised-900 {
   box-shadow: 0 -6px 0 var(--tw-shadow-color), 0 5px 5px hsla(0, 0%, 0%, 0.5);
}

@utility lowered-100 {
   box-shadow: inset 0 -1px 0 var(--tw-shadow-color), inset 0 1px 1px hsla(0, 0%, 0%, 0.5);
}

@utility lowered-300 {
   box-shadow: inset 0 -2px 0 var(--tw-shadow-color), inset 0 2px 2px hsla(0, 0%, 0%, 0.5);
}

@utility lowered-500 {
   box-shadow: inset 0 -3px 0 var(--tw-shadow-color), inset 0 3px 3px hsla(0, 0%, 0%, 0.5);
}

@utility lowered-700 {
   box-shadow: inset 0 -4px 0 var(--tw-shadow-color), inset 0 4px 4px hsla(0, 0%, 0%, 0.5);
}

@utility lowered-900 {
   box-shadow: inset 0 -5px 0 var(--tw-shadow-color), inset 0 5px 5px hsla(0, 0%, 0%, 0.5);
}

@layer base {
   h1 {
      @apply font-display;
   }
}
