@import 'tailwindcss';

@theme {
   --color-neutral-100: hsl(220, 18%, 98%);
   --color-neutral-200: hsl(220, 16%, 95%);
   --color-neutral-300: hsl(220, 14%, 92%);
   --color-neutral-400: hsl(220, 12%, 84%);
   --color-neutral-500: hsl(220, 10%, 71%);
   --color-neutral-600: hsl(220, 12%, 56%);
   --color-neutral-700: hsl(220, 14%, 32%);
   --color-neutral-800: hsl(220, 16%, 23%);
   --color-neutral-900: hsl(220, 18%, 15%);

   --color-primary-100: hsl(270, 100%, 80%);
   --color-primary-200: hsl(270, 90%, 72%);
   --color-primary-300: hsl(270, 80%, 58%);
   --color-primary-400: hsl(270, 60%, 43%);
   --color-primary-500: hsl(270, 55%, 35%);
   --color-primary-600: hsl(270, 60%, 30%);
   --color-primary-700: hsl(270, 80%, 23%);
   --color-primary-800: hsl(270, 90%, 15%);
   --color-primary-900: hsl(270, 100%, 10%);

   --color-accent-green-100: hsl(135, 70%, 70%);
   --color-accent-green-300: hsl(135, 65%, 56%);
   --color-accent-green-500: hsl(135, 60%, 39%);
   --color-accent-green-700: hsl(135, 65%, 34%);
   --color-accent-green-900: hsl(135, 70%, 28%);

   --color-accent-red-100: hsl(355, 85%, 40%);
   --color-accent-red-300: hsl(355, 83%, 35%);
   --color-accent-red-500: hsl(355, 80%, 30%);
   --color-accent-red-700: hsl(355, 85%, 25%);
   --color-accent-red-900: hsl(355, 90%, 20%);

   --color-accent-yellow-100: hsl(50, 90%, 70%);
   --color-accent-yellow-300: hsl(50, 85%, 60%);
   --color-accent-yellow-500: hsl(50, 80%, 50%);
   --color-accent-yellow-700: hsl(48, 85%, 45%);
   --color-accent-yellow-900: hsl(48, 90%, 40%);

   --font-size-100: 0.875rem;
   --font-size-200: 1rem;
   --font-size-300: 1.125rem;
   --font-size-400: 1.25rem;
   --font-size-500: 1.5rem;
   --font-size-600: 1.875rem;
   --font-size-700: 2.25rem;
   --font-size-800: 3rem;
   --font-size-900: 3.75rem;

   --font-display: var(--font-titillium-web);
   --font-body: var(--font-poppins);

   --font-weight-100: 100;
   --font-weight-200: 200;
   --font-weight-300: 300;
   --font-weight-400: 400;
   --font-weight-500: 500;
   --font-weight-600: 600;
   --font-weight-700: 700;
   --font-weight-800: 800;
   --font-weight-900: 900;

   --line-height-none: 1;
   --line-height-tight: 1.25;
   --line-height-base: 1.5;
   --line-height-loose: 1.75;
   --line-height-much: 2;

   --letter-spacing-tight: -0.1em;
   --letter-spacing-base: 0;
   --letter-spacing-wider: 0.1em;
   --letter-spacing-widest: 0.4em;

   --space-0: 0;
   --space-1: 0.25rem;
   --space-2: 0.5rem;
   --space-3: 0.75rem;
   --space-4: 1rem;
   --space-5: 1.5rem;
   --space-6: 2rem;
   --space-7: 3rem;
   --space-8: 4rem;
   --space-9: 6rem;
   --space-10: 8rem;
   --space-11: 12rem;
   --space-12: 16rem;
   --space-13: 24rem;
   --space-14: 32rem;
   --space-15: 40rem;
   --space-16: 48rem;

   --border-width-none: 0;
   --border-width-thin: 0.0625rem;
   --border-width-base: 0.125rem;
   --border-width-thick: 0.25rem;

   --depth-effect-raised-100: 0 -2px 0 var(--tw-shadow-color), 0 1px 1px hsla(0, 0%, 0%, 0.5);
   --depth-effect-raised-300: 0 -3px 0 var(--tw-shadow-color), 0 2px 2px hsla(0, 0%, 0%, 0.5);
   --depth-effect-raised-500: 0 -4px 0 var(--tw-shadow-color), 0 3px 3px hsla(0, 0%, 0%, 0.5);
   --depth-effect-raised-700: 0 -5px 0 var(--tw-shadow-color), 0 4px 4px hsla(0, 0%, 0%, 0.5);
   --depth-effect-raised-900: 0 -6px 0 var(--tw-shadow-color), 0 5px 5px hsla(0, 0%, 0%, 0.5);

   --depth-effect-lowered-100: inset 0 -1px 0 var(--tw-shadow-color),
      inset 0 1px 1px hsla(0, 0%, 0%, 0.5);
   --depth-effect-lowered-300: inset 0 -2px 0 var(--tw-shadow-color),
      inset 0 2px 2px hsla(0, 0%, 0%, 0.5);
   --depth-effect-lowered-500: inset 0 -3px 0 var(--tw-shadow-color),
      inset 0 3px 3px hsla(0, 0%, 0%, 0.5);
   --depth-effect-lowered-700: inset 0 -4px 0 var(--tw-shadow-color),
      inset 0 4px 4px hsla(0, 0%, 0%, 0.5);
   --depth-effect-lowered-900: inset 0 -5px 0 var(--tw-shadow-color),
      inset 0 5px 5px hsla(0, 0%, 0%, 0.5);
}

@utility text-* {
   font-size: --value(--font-size- *);
}
