@import 'tailwindcss';

/*
   Usage guide:

   Setting colors:
      text-(color) - text color
      bg-(color) - background color
      border-(color) - border color
      shadow-(color) - shadow color

      Custom palette:
         neutral-(100-900)
         primary-(100-900)
         accent-green-(100-900)
         accent-red-(100-900)
         accent-yellow-(100-900)

   Typography:
      text-(100-900) - font size
      weight-(100-900) - font weight
      font-(display|body|mono|somethingElse) - font family
      leading(none|tight|snug|normal|relaxed|loose) - line height
      tracking-(tighter|tight|normal|wide|wider|widest) - letter spacing
      text-(left|center|right|justify) - text align
      hyphens-(none|manual|auto) - hyphens
      line-clamp-(number) - truncate text

   Custom scale:
      w/h/m/p-(0-16)
      t/r/b/l-(0-16)
      & more-(0-16)

   Other common utilities:
      (block|hidden|flex|grid|&more) - display
      (static|fixed|absolute|relative|sticky) - positioning
      border-(2-8)|(dashed|full) - border width and style
      rounded-(xs-4xl|full)- border-radius
*/

@theme {
   --text-100: 0.875rem;
   --text-200: 1rem;
   --text-300: 1.125rem;
   --text-400: 1.25rem;
   --text-500: 1.5rem;
   --text-600: 1.875rem;
   --text-700: 2.25rem;
   --text-800: 3rem;
   --text-900: 3.75rem;

   --weight-100: 100;
   --weight-200: 200;
   --weight-300: 300;
   --weight-400: 400;
   --weight-500: 500;
   --weight-600: 600;
   --weight-700: 700;
   --weight-800: 800;
   --weight-900: 900;

   --font-display: var(--font-display);
   --font-body: var(--font-body);
}

@utility weight-* {
   font-weight: --value(--weight- *);
}

@utility raised-100 {
   box-shadow: 0 -2px 0 var(--tw-shadow-color), 0 1px 2px hsla(0, 0%, 0%, 0.5);
}

@utility raised-300 {
   box-shadow: 0 -3px 0 var(--tw-shadow-color), 0 2px 4px hsla(0, 0%, 0%, 0.5);
}

@utility raised-500 {
   box-shadow: 0 -4px 0 var(--tw-shadow-color), 0 4px 6px hsla(0, 0%, 0%, 0.5);
}

@utility raised-700 {
   box-shadow: 0 -5px 0 var(--tw-shadow-color), 0 6px 8px hsla(0, 0%, 0%, 0.5);
}

@utility raised-900 {
   box-shadow: 0 -6px 0 var(--tw-shadow-color), 0 8px 10px hsla(0, 0%, 0%, 0.5);
}

@utility lowered-100 {
   box-shadow: inset 0 -1px 0 var(--tw-shadow-color), inset 0 1px 2px hsla(0, 0%, 0%, 0.5);
}

@utility lowered-300 {
   box-shadow: inset 0 -2px 0 var(--tw-shadow-color), inset 0 2px 4px hsla(0, 0%, 0%, 0.5);
}

@utility lowered-500 {
   box-shadow: inset 0 -3px 0 var(--tw-shadow-color), inset 0 4px 6px hsla(0, 0%, 0%, 0.5);
}

@utility lowered-700 {
   box-shadow: inset 0 -4px 0 var(--tw-shadow-color), inset 0 6px 8px hsla(0, 0%, 0%, 0.5);
}

@utility lowered-900 {
   box-shadow: inset 0 -5px 0 var(--tw-shadow-color), inset 0 8px 10px hsla(0, 0%, 0%, 0.5);
}

@layer base {
   * {
      @apply font-body;
   }
}
